<section id="attestations">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="light12 font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Issue attestations <span class="lg:block"
            >to curate high-quality research
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl tracking-tight text-gray-500 mx-auto">
          Attestations are a new primitive that WE SHOULD EXPLAIN
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Open Science best practices
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Certify Open Science best practices such as Open Code, Open Data, FAIR data, 
            and Computational Reproducibility with attestations. 
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Verifiable provanance
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Attestations are digitally-signed FAIR digital objects with verified provenance 
            that you control and issue to the Nodes you curate. 
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Unlock new curation opportunities
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Attestations unlock curation opportunities beyond the traditional peer-review 
            system to differentiate and elevate your community. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
