<section 
  style="background-color: #161616"
  id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div 
        class="mx-auto max-w-2xl text-center">
        <div>
          <p
            class="dark12 font-extrabold lg:text-5xl text-4xl tracking-tighter">
            Solutions for the <span class="lg:block"
              >scientific record of tomorrow
            </span>
          </p>
        </div>
      </div>

      <div id="tabs-section"
      class="pt-24">
        <div class="tab-buttons rounded-xl">
          <button class="tab-button rounded-xl active dark11" data-tab="tab1">Social Review</button>
          <button class="tab-button rounded-xl dark11" data-tab="tab2">Meaningful Curation</button>
          <button class="tab-button rounded-xl dark11" data-tab="tab3">Integrated Publications</button>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
              <div class="mx-auto pb-12">
                <div
                  class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-2">
                  <div>
                    <div class="gap-3 lg:inline-flex lg:h-10">
                      <p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        Evaluate claims in context
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      Authors make verifiable claims and link these claims to the artifacts they submit and the attestations they seek. 
                      Curators can evaluate these claims, in context, with a workflows that makes things simpler. 
                    </p>
                  </div><div>
                    <div class="gap-3 lg:inline-flex lg:h-10"><p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        Engage your community
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      Elicit engagement that contributes to improving content, encourage re-use artifacts, 
                      the FAIRness of your metadata, the rigorous evaluation of your attestations. 
                    </p>
                  </div>
                </div>
              </div>
              <img
                  alt=""
                  style="border-color: var(--gray-dark-a6); border-width: 1px;"
                  class="relative w-full lg:rounded-2xl object-cover rounded shadow-2xl"
                  src="https://s3-alpha-sig.figma.com/img/73b1/6cdd/11a43d4cbac996a2618c0dc778f69645?Expires=1697414400&Signature=HdBzePvFEYOr3FBiUKyQj3i8oftyRl7fjqGhI1YF7lxlcQ3eZ~lPIupLwPOZZLMxrC17TNA5LxPYpzVC-FI2kavLH-vZGXvAKIgrKqvPlLgEFr3b3uBdO-AJmXyArCklDEkvefQVteenvtiLbcFs4V~ebQYKtkHG9sPc9DRdsLylbrOguzmbIuubJLxSmiBjwO46kvnOGgadbcKhxOlSfTyNHHY8i60Yg11bSBhH263UJRfFGwPL42dtv36UeBZaomY8jS5nN7u1OtGvPmlG9vbP8SpVXmPZBk~xEpLMf6W9Zra7kqScPODgdlWfDCKhdQ57wYqljBHopseOpvTGpg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                />
                
            </div>      
          </div>
          <div class="tab-pane" id="tab2">
            <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
              <div class="mx-auto pb-12">
                <div
                  class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-2">
                  <div>
                    <div class="gap-3 lg:inline-flex lg:h-10">
                      <p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        Credit contributors, referees, and editors
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      CRediT-coded authorship contributions for scientific validation and data curation is
                      credited to the the ORCID profiles of referees, editors, and data stewards. Attestations are mirrored to the ORCID profile of researchers
                    </p>
                  </div>
                  <div>
                    <div class="gap-3 lg:inline-flex lg:h-10">
                      <p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        Easy to index 
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      Exposes these dynamic authorship contributions as machine-actionable metadata for harvesting by scientific databases and indexers. 
                    </p>
                  </div>
                </div>
              </div>
              <img
                  alt=""
                  style="border-color: var(--gray-dark-a6); border-width: 1px;"
                  class="relative w-full lg:rounded-2xl object-cover rounded shadow-2xl"
                  src="https://s3-alpha-sig.figma.com/img/73b1/6cdd/11a43d4cbac996a2618c0dc778f69645?Expires=1697414400&Signature=HdBzePvFEYOr3FBiUKyQj3i8oftyRl7fjqGhI1YF7lxlcQ3eZ~lPIupLwPOZZLMxrC17TNA5LxPYpzVC-FI2kavLH-vZGXvAKIgrKqvPlLgEFr3b3uBdO-AJmXyArCklDEkvefQVteenvtiLbcFs4V~ebQYKtkHG9sPc9DRdsLylbrOguzmbIuubJLxSmiBjwO46kvnOGgadbcKhxOlSfTyNHHY8i60Yg11bSBhH263UJRfFGwPL42dtv36UeBZaomY8jS5nN7u1OtGvPmlG9vbP8SpVXmPZBk~xEpLMf6W9Zra7kqScPODgdlWfDCKhdQ57wYqljBHopseOpvTGpg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                />
                
            </div>       
          </div>
          <div class="tab-pane" id="tab3">
            <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
              <div class="mx-auto pb-12">
                <div
                  class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
                  <div>
                    <div class="gap-3 lg:inline-flex lg:h-10">
                      <p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        Open Science best practices
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      Certify Open Science best practices such as Open Code, Open Data, FAIR data, 
                      and Computational Reproducibility with attestations. 
                    </p>
                  </div><div>
                    <div class="gap-3 lg:inline-flex lg:h-10"><p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        Verifiable provanance
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      Attestations are digitally-signed FAIR digital objects with verified provenance 
                      that you control and issue to the Nodes you curate. 
                    </p>
                  </div><div>
                    <div class="gap-3 lg:inline-flex lg:h-10">
                      <p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        New curation opportunities
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      Attestations unlock curation opportunities beyond the traditional peer-review 
                      system to differentiate and elevate your community. 
                    </p>
                  </div>
                </div>
              </div>
              <img
                  alt=""
                  style="border-color: var(--gray-dark-a6); border-width: 1px;"
                  class="relative w-full lg:rounded-2xl object-cover rounded shadow-2xl"
                  src="https://s3-alpha-sig.figma.com/img/73b1/6cdd/11a43d4cbac996a2618c0dc778f69645?Expires=1697414400&Signature=HdBzePvFEYOr3FBiUKyQj3i8oftyRl7fjqGhI1YF7lxlcQ3eZ~lPIupLwPOZZLMxrC17TNA5LxPYpzVC-FI2kavLH-vZGXvAKIgrKqvPlLgEFr3b3uBdO-AJmXyArCklDEkvefQVteenvtiLbcFs4V~ebQYKtkHG9sPc9DRdsLylbrOguzmbIuubJLxSmiBjwO46kvnOGgadbcKhxOlSfTyNHHY8i60Yg11bSBhH263UJRfFGwPL42dtv36UeBZaomY8jS5nN7u1OtGvPmlG9vbP8SpVXmPZBk~xEpLMf6W9Zra7kqScPODgdlWfDCKhdQ57wYqljBHopseOpvTGpg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                />
                
            </div>       
          </div>
        </div>
      </div>
      

    </div>
  </div>
</section>