---
import Navigation from "../global/Navigation.astro";
const { title } = Astro.props;
const { slogan } = Astro.props;
---

<section
  style="background-color: #161616; background-image: url('journals-hero-min.jpg'); background-size: cover; background-position: center"
>
  <Navigation activePage="journals" />
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 px-8 py-24">
    <div class="max-w-xl text-center md:text-left md:ml-auto md:pl-40 md:pb-24">
      <div class="w-full">
        <p
          class="dark12 mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight"
        >
          {title}
        </p>
        <p class="dark12 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          {slogan}
        </p>
      </div>
      <div
        class="flex justify-center md:justify-start gap-3 mt-10 flex-col sm:flex-row"
      >
        <a
        class="button-primary launch-button"
        href="https://airtable.com/appgLeZk1veURa9gS/pagAGXjuFmxrpqCZL/form"
        target="_blank">
        <img src="nodes-c.png" class="w-7" />Create Community
        </a>
        <a
          class="button-secondary"
          href="https://nodes.desci.com"
          target="_blank"
        >Explore
        </a>
      </div>
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <img
        alt=""
        style="border-color: var(--gray-dark-a6); border-width: 1px;"
        class="relative w-full lg:rounded-2xl object-cover rounded shadow-2xl"
        src="ARC.png"
      />
    </div>
  </div>
</section>
