---
import Navigation from "../global/Navigation.astro";
const { title } = Astro.props;
const { slogan } = Astro.props;
---

<section
  style="background-color: #161616; background-image: url('storyboard-14-min.jpg'); background-size: cover; background-position: top"
>
  <div class="bg-dark-11">
    <Navigation activePage="institutions" />
    <div class="mx-auto w-full max-w-5xl pt-24 pb-40 px-24 lg:px-16">
      <div>
        <div class="flex-col max-w-4xl mr-auto">
          <p
            class="text-light-12 mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight"
          >
            {title}
          </p>
          <p class="text-light-12 lg:text-xl max-w-sm mt-4 text-base">
            {slogan}
          </p>
        </div>
        <div class="gap-3 mt-10 flex-col sm:flex-row">
          <a
            class="button-primary launch-button"
            href="https://nodes.desci.com"
            target="_blank"
          >
            <img src="nodes-c.png" class="w-7" />Launch
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
