---
import Navigation from "../global/Navigation.astro";
const { title } = Astro.props;
const { slogan } = Astro.props;


---


<section style="background-color: #161616; background-image: url('mars-2.jpg'); background-size: cover; background-position: center">
  <Navigation activePage="researchers"/>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <div class="flex justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="76" height="82" viewBox="0 0 76 82" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M39.4881 0.551137C38.4792 0.00769509 37.2647 0.00769295 36.2559 0.551137L19.237 9.71848C18.1335 10.3129 17.4453 11.4652 17.4453 12.7187V30.9361C17.4453 32.1896 18.1335 33.3419 19.237 33.9363L35.4645 42.6774L35.461 60.529C35.4607 61.8575 36.5375 62.9347 37.866 62.935C39.1946 62.9352 40.2718 61.8584 40.272 60.5299L40.2756 42.6795L56.5069 33.9363C57.6105 33.3419 58.2986 32.1896 58.2986 30.9361V12.7187C58.2986 11.4652 57.6105 10.3129 56.5069 9.71848L39.4881 0.551137ZM22.2564 13.5567L37.872 5.14524L53.4876 13.5567V30.0981L37.872 38.5096L22.2564 30.0981V13.5567Z" fill="white" fill-opacity="0.923"/>
            <path d="M37.3948 60.7853C37.6916 60.6255 38.0487 60.6255 38.3455 60.7853L46.2055 65.0192C46.5301 65.1941 46.7325 65.533 46.7325 65.9016V74.2521C46.7325 74.6207 46.5301 74.9597 46.2055 75.1345L38.3455 79.3684C38.0487 79.5282 37.6916 79.5282 37.3948 79.3684L29.5348 75.1345C29.2102 74.9597 29.0078 74.6207 29.0078 74.2521V65.9016C29.0078 65.533 29.2102 65.1941 29.5348 65.0192L37.3948 60.7853Z" stroke="#FCFCFC" stroke-width="4.81106"/>
            <path d="M63.8675 46.0803C64.1642 45.9204 64.5214 45.9204 64.8181 46.0803L72.6782 50.3141C73.0027 50.489 73.2051 50.8279 73.2051 51.1966V59.547C73.2051 59.9157 73.0027 60.2546 72.6782 60.4294L64.8181 64.6633C64.5214 64.8231 64.1642 64.8231 63.8675 64.6633L56.0074 60.4294C55.6829 60.2546 55.4805 59.9157 55.4805 59.547V51.1966C55.4805 50.8279 55.6829 50.489 56.0074 50.3141L63.8675 46.0803Z" stroke="#FCFCFC" stroke-width="4.81106"/>
            <path d="M55.4805 31.5029L63.8158 35.9928C64.1404 36.1677 64.3428 36.5066 64.3428 36.8753V45.8243" stroke="#FCFCFC" stroke-width="4.81106"/>
            <path d="M10.8089 46.1232C11.1056 45.9634 11.4628 45.9634 11.7595 46.1232L19.6196 50.3571C19.9442 50.5319 20.1465 50.8709 20.1465 51.2395V59.59C20.1465 59.9586 19.9442 60.2975 19.6196 60.4724L11.7595 64.7063C11.4628 64.8661 11.1056 64.8661 10.8089 64.7063L2.94885 60.4724C2.62427 60.2975 2.42188 59.9586 2.42188 59.59V51.2395C2.42188 50.8709 2.62427 50.5319 2.94885 50.3571L10.8089 46.1232Z" stroke="#FCFCFC" stroke-width="4.81106"/>
            <path d="M20.1436 32.1328L11.8082 36.6227C11.4836 36.7976 11.2812 37.1365 11.2812 37.5052V46.4541" stroke="#FCFCFC" stroke-width="4.81106"/>
          </svg>
        </div>
        <p
          class="dark12 mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight">
          {title}
        </p>
        <p class="dark12 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          {slogan}
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <a
          class="button-primary"
          href="https://nodes.desci.com"
          target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.922 0.11495C10.6368 -0.0383159 10.2938 -0.0383171 10.0086 0.114949L6.52592 1.98651C6.213 2.15467 6.0178 2.48117 6.0178 2.83641V6.54522C6.0178 6.8038 6.12123 7.04716 6.2982 7.2253L2.82004 8.82075C2.57805 8.93175 2.42293 9.17357 2.42293 9.4398V11.2558C1.30706 11.5309 0.425781 12.4663 0.425781 13.668C0.425781 15.1061 1.68795 16.1629 3.10388 16.1629C4.51981 16.1629 5.78198 15.1061 5.78198 13.668C5.78198 12.4664 4.90083 11.531 3.78507 11.2558V9.87669L7.74173 8.06175C7.74615 8.05973 7.75053 8.05766 7.75488 8.05556L9.74581 9.12547V13.2012C8.37472 13.5092 7.29713 14.6428 7.29713 16.0828C7.29713 17.7774 8.78926 19.0475 10.4959 19.0475C12.2026 19.0475 13.6947 17.7774 13.6947 16.0828C13.6947 14.5948 12.5441 13.434 11.108 13.1732V9.16677L13.161 8.06349C13.1712 8.06884 13.1816 8.07396 13.1922 8.07884L17.0656 9.8657V11.2556C15.9493 11.5304 15.0676 12.466 15.0676 13.668C15.0676 15.1061 16.3298 16.1629 17.7457 16.1629C19.1617 16.1629 20.4238 15.1061 20.4238 13.668C20.4238 12.4667 19.5431 11.5315 18.4278 11.256V9.42984C18.4278 9.16414 18.2732 8.9227 18.032 8.8114L14.6201 7.23747C14.8046 7.05833 14.9128 6.80974 14.9128 6.54522V2.83641C14.9128 2.48117 14.7176 2.15467 14.4047 1.98651L10.922 0.11495ZM7.37994 3.07393L10.4653 1.41588L13.5507 3.07393V6.30769L10.4653 7.96575L7.37994 6.30769V3.07393ZM1.78792 13.668C1.78792 13.1178 2.28603 12.5657 3.04069 12.5364C3.06154 12.5384 3.08265 12.5393 3.104 12.5393C3.12532 12.5393 3.14642 12.5384 3.16724 12.5364C3.92181 12.5658 4.41984 13.1178 4.41984 13.668C4.41984 14.2334 3.8938 14.8008 3.10388 14.8008C2.31396 14.8008 1.78792 14.2334 1.78792 13.668ZM10.4959 14.4122C9.38397 14.4122 8.59117 15.2173 8.59117 16.0828C8.59117 16.9483 9.38397 17.7535 10.4959 17.7535C11.6079 17.7535 12.4006 16.9483 12.4006 16.0828C12.4006 15.2173 11.6079 14.4122 10.4959 14.4122ZM17.7457 12.5352C16.9558 12.5352 16.4298 13.1025 16.4298 13.668C16.4298 14.2334 16.9558 14.8008 17.7457 14.8008C18.5356 14.8008 19.0617 14.2334 19.0617 13.668C19.0617 13.1025 18.5356 12.5352 17.7457 12.5352Z" fill="currentColor"/>
          </svg>Launch
          </a>
      </div>
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12 md:pb-16">
      <img
          alt=""
          style="border-color: var(--gray-dark-a6); border-width: 1px;"
          class="relative w-full lg:rounded-2xl object-cover rounded shadow-2xl"
          src="keyframe.png"
        />
    </div>
  </div>
</section>