<section id="integrated-publications">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Create fully <span class="lg:block"
            >integrated publications
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-gray-500">
          The Nodes interface turns data and code into first class citizens. 
          Allow seamless navigation and in-browser rendition of code, documents, and data. 
          All side-by-side with attestations, methods of interoperability, and community exchange. 
        </p>
      </div>
    </div>
    <div>
      <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
        <div class="bg-gray-100 p-8 rounded-3xl" style="">
          <img
            alt=""
            src="https://s3-alpha-sig.figma.com/img/26be/4e48/ac2253e07818b6764e721555a33436ad?Expires=1697414400&Signature=BzEfLW0~7DHsRzYNhvem6RTT5~URts-KK-EBCOTP8hUVSYWAnIiX9tAY9qSxpbTsAK2XWhj1htqXPlkr2ITXCVNTSh5TZ64CEMJCdyVaPnU9tQiTvppXZ5JpZtU8cDKhFWLzlnL9H2kk1X42t-KFKF-~ZNUPuRfVtQTwP~eiiFOsYawzgjBSZxI49Y4tjfB9W7J9tbVsvqfSasY81DPPOfzAlT6wafF~b7wG9iCnZHBJ-Nonz-bewMJv30Cybkn1Kndgp-PlvpucpDGLpROIiQneo7oWaUY7CK222x6EaaMDH4x9NvcvQnJV09j2aMrpK8oAO9WvPdHe899Sk5kVqw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          />
          <div
            class="grid gap-2 grid-cols-3 lg:space-y-0 text-center px-12">
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Data
                </p>
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Code
                </p>
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Paper
                </p>
              </div>
            </div>
            </div>
            </div>
          </div>
    </div>
  </div>
</section>