<section id="overview">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="light12 font-extrabold lg:text-5xl text-4xl tracking-tighter">
          The time has come <span class="lg:block"
            >to reimagine scientific publications
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl tracking-tight text-gray-500 mx-auto">
          Attestations are a new primitive that WE SHOULD EXPLAIN
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Open Science best practices
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Certify Open Science best practices such as Open Code, Open Data, FAIR data, 
            and Computational Reproducibility with attestations. 
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Open Science best practices
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Certify Open Science best practices such as Open Code, Open Data, FAIR data, 
            and Computational Reproducibility with attestations. 
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Open Science best practices
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Certify Open Science best practices such as Open Code, Open Data, FAIR data, 
            and Computational Reproducibility with attestations. 
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Open Science best practices
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Certify Open Science best practices such as Open Code, Open Data, FAIR data, 
            and Computational Reproducibility with attestations. 
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Verifiable provanance
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Attestations are digitally-signed FAIR digital objects with verified provenance 
            that you control and issue to the Nodes you curate. 
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Unlock new curation opportunities
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Attestations unlock curation opportunities beyond the traditional peer-review 
            system to differentiate and elevate your community. 
          </p>
        </div>
      </div>
    </div>
    <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
      <a
        style="background-color: var(--gray-a3);"
        class="items-center justify-center h-12 font-medium rounded-full inline-flex duration-200 text-black sm:w-auto px-6 py-3 text-center text-black/80 w-full gap-3"
        href="https://capybara.desci.com"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 15 15" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3 2C2.44772 2 2 2.44772 2 3V12C2 12.5523 2.44772 13 3 13H12C12.5523 13 13 12.5523 13 12V8.5C13 8.22386 12.7761 8 12.5 8C12.2239 8 12 8.22386 12 8.5V12H3V3L6.5 3C6.77614 3 7 2.77614 7 2.5C7 2.22386 6.77614 2 6.5 2H3ZM12.8536 2.14645C12.9015 2.19439 12.9377 2.24964 12.9621 2.30861C12.9861 2.36669 12.9996 2.4303 13 2.497L13 2.5V2.50049V5.5C13 5.77614 12.7761 6 12.5 6C12.2239 6 12 5.77614 12 5.5V3.70711L6.85355 8.85355C6.65829 9.04882 6.34171 9.04882 6.14645 8.85355C5.95118 8.65829 5.95118 8.34171 6.14645 8.14645L11.2929 3H9.5C9.22386 3 9 2.77614 9 2.5C9 2.22386 9.22386 2 9.5 2H12.4999H12.5C12.5678 2 12.6324 2.01349 12.6914 2.03794C12.7504 2.06234 12.8056 2.09851 12.8536 2.14645Z" fill="black"/>
        </svg>Learn More
        </a>
    </div>
  </div>
</section>
