<section 
style="background-color: #161616"
  id="power-your-journal">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div 
        class="mx-auto max-w-2xl text-center">
        <div>
          <p
            class="dark12 font-extrabold lg:text-5xl text-4xl tracking-tighter">
            Power your <span class="lg:block"
              >Open Access journal
            </span>
          </p>
        </div>
      </div>
      <dl
        class="dark11 lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div>
          <strong class="dark12"
            >A one stop submission experience</strong
          > ━ Researchers can publish data and code alongside their manuscripts, request attestations, and version their work. 
        </div>
        <div>
          <strong class="dark12">Outsource storage to a network</strong> ━ Once published, the data indexed by Node PIDs is 
          stored on a distributed network. No content drift, and resilience against data loss. 
        </div>
        <div>
          <strong class="dark12">Always up to date</strong> ━ Nodes can be dynamically versioned in response to community 
          exchange. Your content is always up to date.
        </div>
      </dl>

      <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
        <img
            alt=""
            style="border-color: var(--gray-dark-a6); border-width: 1px;"
            class="relative w-full lg:rounded-2xl object-cover rounded shadow-2xl"
            src="https://s3-alpha-sig.figma.com/img/73b1/6cdd/11a43d4cbac996a2618c0dc778f69645?Expires=1697414400&Signature=HdBzePvFEYOr3FBiUKyQj3i8oftyRl7fjqGhI1YF7lxlcQ3eZ~lPIupLwPOZZLMxrC17TNA5LxPYpzVC-FI2kavLH-vZGXvAKIgrKqvPlLgEFr3b3uBdO-AJmXyArCklDEkvefQVteenvtiLbcFs4V~ebQYKtkHG9sPc9DRdsLylbrOguzmbIuubJLxSmiBjwO46kvnOGgadbcKhxOlSfTyNHHY8i60Yg11bSBhH263UJRfFGwPL42dtv36UeBZaomY8jS5nN7u1OtGvPmlG9vbP8SpVXmPZBk~xEpLMf6W9Zra7kqScPODgdlWfDCKhdQ57wYqljBHopseOpvTGpg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          />
      </div>
    </div>
  </div>
</section>