---
import Navigation from "../global/Navigation.astro";
const { title } = Astro.props;
const { slogan } = Astro.props;


---


<section style="background-color: #161616; background-image: url(constellation-min.jpg); background-size: cover; background-position: center">
  <div class="bg-dark-11">
  <Navigation />
  <div class="h-full">
      <div class="mx-auto w-full max-w-7xl flex flex-col justify-center h-full px-8 py-24 lg:pt-48 lg:pb-48">
        <div class="text-center max-w-4xl mx-auto">
          <p
            class="text-light-12 mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight lg:max-w-2xl">
            {title}
          </p>
          <p class="text-light-12 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
            {slogan}
          </p>
        </div>
        <div class="flex justify-center gap-6 mt-10 grid grid-cols-1 mx-auto w-full md:grid-cols-2 md:max-w-xl ">
          <a href="/researchers">
            <div class="border backdrop-blur-2xl text-light-12 hover:bg-light-6 h-full p-4 rounded-2xl transition duration-300 w-full" style="border-color: var(--gray-dark-a12)"> 
              <div class="flex justify-center items-center gap-6">
                <div
                class="flex text-base md:text-lg justify-center font-semibold font-display">
                  For Researchers
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                  <path d="M36.6654 17.3333V27.3333M36.6654 17.3333L19.9987 9L3.33203 17.3333L19.9987 25.6667L36.6654 17.3333Z" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10 20.666V28.9993C15 33.9993 25 33.9993 30 28.9993V20.666" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>    
            </div>
          </a>
          <a href="/journals">
            <div class="border backdrop-blur-2xl text-light-12 hover:bg-light-6 h-full p-2 md:p-4 rounded-2xl transition duration-300 w-full" style="border-color: var(--gray-dark-a12)"> <!--"button-secondary w-full"-->
              <div class="flex justify-center items-center gap-6">
                <div
                class="flex text-base md:text-lg font-semibold">
                  For Journals
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                  <path d="M3.33203 5.33398H13.332C15.1001 5.33398 16.7958 6.03636 18.0461 7.28661C19.2963 8.53685 19.9987 10.2325 19.9987 12.0007V35.334C19.9987 34.0079 19.4719 32.7361 18.5342 31.7984C17.5966 30.8608 16.3248 30.334 14.9987 30.334H3.33203V5.33398Z" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M36.6667 5.33398H26.6667C24.8986 5.33398 23.2029 6.03636 21.9526 7.28661C20.7024 8.53685 20 10.2325 20 12.0007V35.334C20 34.0079 20.5268 32.7361 21.4645 31.7984C22.4021 30.8608 23.6739 30.334 25 30.334H36.6667V5.33398Z" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>    
            </div>
          </a>
        </div>
      </div>
  </div>
</div>
</section>