---
import BaseHead from "../components/BaseHead.astro";
---

<html
  lang="en"
  class="scroll-smooth selection:bg-dark-10 selection:text-light-12 no-touchevents hydrated">
  <head>
    <BaseHead />
  </head>

  <body class="gray-1">
    <slot />
  </body>
</html>
