<section
  class="relative mx-auto w-full lg:px-16 max-w-7xl md:px-12 items-center px-8 py-24"
  id="bundle"
  aria-label="bundle">
  <div class="bg-dark-1 rounded-3xl overflow-hidden mx-auto">
    <div class="relative px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-4">
      <div class="grid items-end text-center">
        <div>
          <h2
            class="w-full mt-4 text-4xl font-semibold tracking-tight text-light-12 font-display lg:text-5xl">
            Want to learn more?</span>
          </h2>
          <p class="max-w-2xl mx-auto mt-8 text-light-11 lg:text-xl">
            We are scientists and engineers building tools to make knowledge more accessible and verifiable. 
            We envision a scientific record without data silos, content drift, paywalls, and proprietary analytics.
          </p>
        </div>
        <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
          <a
            class="button-primary"
            href="https://docs.desci.com"
            target="_blank">
            Browse documentation
          </a>
          <a
            class="button-secondary"
            href="mailto:info@desci.com"
            >Contact us</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
