---
const { activePage } = Astro.props;
---

<section id="nav">
  <div class="w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6"
    >
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="lg:pr-8 text-dark-12 inline-flex items-center gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="194"
            height="60"
            viewBox="0 0 194 60"
            fill="none"
          >
            <path
              d="M59.9762 39.1784H53.8711V21.9434H60.0362C61.7763 21.9434 63.2613 22.2884 64.5063 22.9784C65.7514 23.6684 66.7264 24.6584 67.4014 25.9334C68.0764 27.2234 68.4214 28.7534 68.4214 30.5384C68.4214 32.3384 68.0764 33.8834 67.4014 35.1734C66.7264 36.4634 65.7514 37.4534 64.4913 38.1434C63.2313 38.8334 61.7313 39.1784 59.9762 39.1784ZM57.5162 36.0584H59.8262C60.9063 36.0584 61.8063 35.8634 62.5563 35.4884C63.2913 35.0984 63.8463 34.5134 64.2213 33.6884C64.5963 32.8784 64.7763 31.8284 64.7763 30.5384C64.7763 29.2634 64.5963 28.2284 64.2213 27.4184C63.8463 26.6084 63.2913 26.0084 62.5563 25.6334C61.8213 25.2584 60.9213 25.0634 59.8412 25.0634H57.5162V36.0584Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
            <path
              d="M76.9319 39.432C75.5968 39.432 74.4568 39.162 73.4968 38.622C72.5368 38.082 71.8017 37.317 71.2917 36.312C70.7817 35.322 70.5117 34.137 70.5117 32.772C70.5117 31.437 70.7667 30.282 71.2917 29.277C71.8017 28.272 72.5368 27.492 73.4818 26.922C74.4268 26.367 75.5218 26.082 76.7969 26.082C77.6519 26.082 78.4469 26.217 79.1819 26.487C79.9169 26.757 80.5619 27.162 81.117 27.717C81.672 28.257 82.107 28.947 82.407 29.772C82.722 30.597 82.872 31.557 82.872 32.652V33.642H71.9517V31.422H79.4969C79.4969 30.912 79.3919 30.447 79.1669 30.057C78.9419 29.652 78.6269 29.352 78.2369 29.112C77.8469 28.887 77.3819 28.767 76.8569 28.767C76.3168 28.767 75.8368 28.887 75.4168 29.142C74.9968 29.397 74.6668 29.727 74.4418 30.147C74.2018 30.567 74.0818 31.032 74.0818 31.542V33.657C74.0818 34.302 74.2018 34.842 74.4418 35.322C74.6818 35.787 75.0118 36.147 75.4618 36.402C75.8968 36.657 76.4219 36.777 77.0219 36.777C77.4269 36.777 77.7869 36.717 78.1169 36.612C78.4469 36.507 78.7319 36.327 78.9719 36.102C79.2119 35.877 79.3919 35.607 79.5119 35.277L82.827 35.502C82.662 36.297 82.317 36.987 81.792 37.587C81.267 38.172 80.6069 38.637 79.7819 38.967C78.9419 39.267 77.9969 39.432 76.9319 39.432Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
            <path
              d="M94.6379 26.8941C94.5779 26.2191 94.2779 25.6941 93.7679 25.3191C93.2578 24.9441 92.5678 24.7491 91.6828 24.7491C91.0828 24.7491 90.5878 24.8391 90.1828 25.0041C89.7778 25.1691 89.4628 25.3941 89.2378 25.6941C89.0277 25.9791 88.9077 26.3241 88.9077 26.6841C88.8927 26.9991 88.9677 27.2691 89.1027 27.4941C89.2527 27.7191 89.4478 27.9291 89.7028 28.0941C89.9578 28.2591 90.2428 28.4091 90.5728 28.5291C90.9028 28.6491 91.2628 28.7541 91.6378 28.8291L93.1828 29.2041C93.9329 29.3691 94.6229 29.5941 95.2529 29.8791C95.8829 30.1641 96.4229 30.5091 96.8879 30.9141C97.3529 31.3191 97.7129 31.7991 97.9679 32.3691C98.223 32.9241 98.358 33.5541 98.358 34.2741C98.358 35.3241 98.088 36.2391 97.5479 37.0191C97.0079 37.7991 96.2579 38.3841 95.2529 38.8191C94.2629 39.2391 93.0628 39.4491 91.6528 39.4491C90.2578 39.4491 89.0578 39.2391 88.0227 38.8041C86.9877 38.3841 86.1927 37.7391 85.6227 36.8991C85.0527 36.0591 84.7527 35.0241 84.7227 33.7791H88.2477C88.2927 34.3641 88.4577 34.8441 88.7427 35.2191C89.0428 35.6091 89.4328 35.8941 89.9278 36.0891C90.4228 36.2841 90.9928 36.3741 91.6078 36.3741C92.2228 36.3741 92.7628 36.2841 93.2128 36.1041C93.6629 35.9241 94.0229 35.6691 94.2779 35.3541C94.5329 35.0391 94.6529 34.6641 94.6529 34.2591C94.6529 33.8691 94.5329 33.5391 94.3079 33.2841C94.0829 33.0141 93.7529 32.7891 93.3178 32.6091C92.8828 32.4291 92.3578 32.2491 91.7278 32.0991L89.8528 31.6341C88.3977 31.2741 87.2577 30.7341 86.4177 29.9691C85.5777 29.2191 85.1577 28.1991 85.1577 26.9241C85.1577 25.8741 85.4277 24.9741 85.9977 24.1941C86.5677 23.4141 87.3327 22.7991 88.3227 22.3641C89.3128 21.9291 90.4378 21.7041 91.6828 21.7041C92.9578 21.7041 94.0829 21.9291 95.0429 22.3641C96.0029 22.7991 96.7379 23.4141 97.2779 24.1941C97.8179 24.9741 98.0879 25.8741 98.1029 26.9091H94.6379V26.8941Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
            <path
              d="M106.57 39.432C105.25 39.432 104.11 39.147 103.15 38.592C102.205 38.022 101.47 37.242 100.96 36.237C100.45 35.232 100.195 34.077 100.195 32.772C100.195 31.452 100.45 30.282 100.96 29.277C101.47 28.272 102.205 27.492 103.15 26.922C104.095 26.352 105.22 26.082 106.54 26.082C107.665 26.082 108.656 26.292 109.511 26.697C110.351 27.102 111.026 27.687 111.521 28.422C112.016 29.157 112.286 30.027 112.331 31.032H108.956C108.866 30.387 108.611 29.862 108.205 29.472C107.8 29.082 107.26 28.872 106.615 28.872C106.06 28.872 105.58 29.022 105.16 29.322C104.755 29.622 104.425 30.057 104.2 30.627C103.975 31.197 103.855 31.887 103.855 32.712C103.855 33.537 103.975 34.242 104.2 34.812C104.425 35.382 104.755 35.832 105.16 36.132C105.58 36.432 106.06 36.582 106.615 36.582C107.02 36.582 107.395 36.492 107.725 36.327C108.055 36.162 108.325 35.907 108.536 35.592C108.746 35.262 108.896 34.887 108.956 34.422H112.346C112.286 35.412 112.016 36.282 111.536 37.032C111.056 37.782 110.396 38.367 109.556 38.787C108.716 39.222 107.71 39.432 106.57 39.432Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
            <path
              d="M116.439 24.5831C115.899 24.5831 115.449 24.4031 115.074 24.0581C114.699 23.6981 114.504 23.2781 114.504 22.7831C114.504 22.2881 114.699 21.8531 115.074 21.4931C115.449 21.1331 115.914 20.9531 116.439 20.9531C116.979 20.9531 117.429 21.1331 117.804 21.4781C118.179 21.8381 118.374 22.2581 118.374 22.7531C118.374 23.2481 118.179 23.6831 117.804 24.0431C117.429 24.4031 116.979 24.5831 116.439 24.5831ZM114.639 39.1781V26.2481H118.224V39.1781H114.639Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
            <path
              d="M126.645 39.1784V21.9434H130.29V36.1784H137.685V39.1784H126.645Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
            <path
              d="M143.716 39.4179C142.891 39.4179 142.156 39.2679 141.511 38.9829C140.866 38.6979 140.356 38.2629 139.981 37.6929C139.606 37.1229 139.426 36.4179 139.426 35.5629C139.426 34.8429 139.561 34.2429 139.816 33.7479C140.086 33.2529 140.446 32.8629 140.896 32.5629C141.346 32.2629 141.871 32.0379 142.456 31.8879C143.041 31.7379 143.641 31.6329 144.286 31.5729C145.036 31.4979 145.651 31.4229 146.101 31.3479C146.566 31.2729 146.896 31.1679 147.106 31.0329C147.316 30.8979 147.421 30.6879 147.421 30.4029V30.3579C147.421 29.8179 147.256 29.4129 146.926 29.1279C146.596 28.8429 146.116 28.6929 145.501 28.6929C144.856 28.6929 144.346 28.8279 143.956 29.1129C143.581 29.3979 143.326 29.7579 143.206 30.1779L139.891 29.9079C140.056 29.1279 140.386 28.4379 140.881 27.8679C141.376 27.2979 142.006 26.8479 142.801 26.5329C143.581 26.2179 144.496 26.0679 145.531 26.0679C146.251 26.0679 146.941 26.1579 147.601 26.3229C148.261 26.4879 148.846 26.7579 149.356 27.1029C149.866 27.4629 150.271 27.9129 150.571 28.4679C150.871 29.0229 151.021 29.6829 151.021 30.4479V39.1629H147.616V37.3629H147.496C147.286 37.7679 147.016 38.1279 146.656 38.4279C146.311 38.7279 145.891 38.9679 145.396 39.1479C144.916 39.3279 144.361 39.4179 143.716 39.4179ZM144.736 36.9429C145.261 36.9429 145.726 36.8379 146.131 36.6279C146.536 36.4179 146.851 36.1329 147.076 35.7729C147.301 35.4129 147.421 35.0079 147.421 34.5579V33.1929C147.316 33.2679 147.151 33.3279 146.956 33.3879C146.761 33.4479 146.551 33.4929 146.311 33.5529C146.071 33.5979 145.831 33.6429 145.591 33.6729C145.351 33.7029 145.126 33.7479 144.931 33.7629C144.511 33.8229 144.136 33.9279 143.821 34.0629C143.506 34.1979 143.266 34.3779 143.086 34.6029C142.906 34.8279 142.831 35.1129 142.831 35.4429C142.831 35.9379 143.011 36.2979 143.371 36.5529C143.731 36.8229 144.196 36.9429 144.736 36.9429Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
            <path
              d="M153.844 39.1784V21.9434H157.429V28.4234H157.534C157.684 28.0784 157.924 27.7184 158.224 27.3584C158.524 26.9984 158.914 26.6984 159.409 26.4434C159.889 26.2034 160.504 26.0834 161.224 26.0834C162.169 26.0834 163.039 26.3234 163.834 26.8184C164.629 27.3134 165.274 28.0484 165.739 29.0384C166.219 30.0284 166.459 31.2584 166.459 32.7434C166.459 34.1834 166.234 35.3984 165.769 36.3884C165.304 37.3784 164.674 38.1284 163.879 38.6384C163.084 39.1484 162.199 39.4034 161.209 39.4034C160.519 39.4034 159.919 39.2834 159.439 39.0584C158.959 38.8334 158.554 38.5334 158.254 38.1884C157.939 37.8434 157.714 37.4834 157.549 37.1234H157.384V39.1934H153.844V39.1784ZM157.354 32.7134C157.354 33.4784 157.459 34.1534 157.669 34.7234C157.879 35.2934 158.194 35.7434 158.599 36.0584C159.004 36.3734 159.499 36.5384 160.069 36.5384C160.654 36.5384 161.149 36.3734 161.554 36.0584C161.959 35.7284 162.259 35.2934 162.469 34.7084C162.679 34.1384 162.784 33.4634 162.784 32.7134C162.784 31.9634 162.679 31.3034 162.469 30.7484C162.259 30.1934 161.959 29.7434 161.554 29.4134C161.149 29.0984 160.654 28.9334 160.069 28.9334C159.484 28.9334 158.989 29.0834 158.599 29.3984C158.194 29.7134 157.894 30.1484 157.684 30.7184C157.459 31.2734 157.354 31.9484 157.354 32.7134Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
            <path
              d="M179.621 29.9376L176.336 30.1326C176.276 29.8476 176.156 29.5926 175.976 29.3676C175.796 29.1426 175.541 28.9626 175.241 28.8276C174.941 28.6926 174.581 28.6176 174.161 28.6176C173.606 28.6176 173.141 28.7376 172.751 28.9626C172.376 29.2026 172.181 29.5026 172.181 29.8926C172.181 30.2076 172.301 30.4626 172.556 30.6726C172.796 30.8826 173.231 31.0626 173.831 31.1826L176.171 31.6476C177.431 31.9026 178.361 32.3226 178.976 32.8926C179.591 33.4626 179.907 34.2126 179.907 35.1426C179.907 35.9826 179.652 36.7326 179.156 37.3776C178.661 38.0226 177.986 38.5176 177.116 38.8776C176.246 39.2376 175.256 39.4176 174.146 39.4176C172.436 39.4176 171.071 39.0576 170.066 38.3376C169.046 37.6176 168.461 36.6426 168.281 35.4126L171.806 35.2326C171.911 35.7576 172.166 36.1476 172.586 36.4176C172.991 36.6876 173.516 36.8226 174.161 36.8226C174.791 36.8226 175.301 36.7026 175.676 36.4626C176.066 36.2226 176.261 35.9076 176.261 35.5176C176.261 35.1876 176.111 34.9176 175.856 34.7076C175.586 34.4976 175.166 34.3326 174.611 34.2276L172.376 33.7776C171.116 33.5226 170.171 33.0876 169.556 32.4576C168.941 31.8276 168.641 31.0476 168.641 30.0726C168.641 29.2476 168.866 28.5276 169.316 27.9276C169.766 27.3276 170.411 26.8626 171.221 26.5326C172.046 26.2026 173.006 26.0376 174.116 26.0376C175.751 26.0376 177.041 26.3826 177.971 27.0726C178.916 27.8076 179.456 28.7376 179.621 29.9376Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
            <path
              d="M17.6936 30.0153C17.6636 30.1503 17.9486 30.7503 18.3086 31.3653C18.6686 31.9653 19.7936 33.8703 20.8136 35.6103C21.8187 37.3353 23.1087 39.5403 23.6637 40.4853C24.2187 41.4303 25.8388 44.2053 27.2638 46.6353C28.6888 49.0653 29.9789 51.1953 30.1289 51.3603C30.3839 51.6153 30.4439 51.6303 30.6089 51.4353C31.0439 50.9703 42.9241 30.3753 42.9241 30.0903C42.9391 29.8203 42.4891 29.5953 39.7291 28.5303C37.959 27.8403 36.489 27.2553 36.474 27.2403C36.459 27.2253 36.519 26.7153 36.609 26.1153C36.894 24.0903 36.204 21.8253 34.929 20.5503C34.584 20.2053 34.3139 19.9053 34.3139 19.8753C34.3139 19.8453 35.064 19.8603 35.994 19.9053L37.674 19.9803L36.864 19.0653L36.054 18.1353H32.7389C30.0088 18.1503 29.3038 18.1953 28.6888 18.4053C26.9188 19.0203 25.7638 20.0403 24.9987 21.6303C24.3987 22.9053 24.2187 23.9403 24.2937 25.7253L24.3387 27.2553L21.0386 28.5003C18.7286 29.3853 17.7236 29.8353 17.6936 30.0153ZM41.5441 31.2153C41.3791 31.4853 38.964 35.6253 36.189 40.4103C33.3989 45.1953 31.0289 49.2453 30.9089 49.4103C30.7439 49.6653 30.7139 48.6153 30.7439 42.6153L30.7889 35.5053L36.189 33.1353C39.1591 31.8303 41.6491 30.7653 41.7091 30.7503C41.7841 30.7353 41.7091 30.9603 41.5441 31.2153ZM28.9738 20.5203C29.7088 20.1903 31.1189 20.1453 31.8089 20.4303C33.9689 21.3453 34.914 24.6303 33.8789 27.6153C32.8739 30.5403 30.4739 31.5603 28.5988 29.8803C26.0938 27.6153 26.3338 21.7203 28.9738 20.5203ZM24.5937 28.2003C24.6387 28.1853 24.8337 28.4853 25.0137 28.8603C26.1688 31.2603 29.0188 32.6103 31.6589 32.0253C33.5189 31.6053 34.689 30.7503 35.694 29.0703L36.204 28.2303L38.364 29.0703C39.5641 29.5503 40.6741 29.9703 40.8391 30.0453C41.0641 30.1203 39.8641 30.7053 35.814 32.4753C32.8889 33.7503 30.3539 34.7703 30.1889 34.7403C29.7088 34.6503 19.6286 30.2253 19.7186 30.1353C19.7486 30.0903 20.8436 29.6403 22.1337 29.1303C23.4237 28.6203 24.5337 28.2003 24.5937 28.2003Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
            <path
              d="M30.4659 14.3851L32.9409 15.5101C34.3209 16.1101 35.461 16.5901 35.491 16.5751C35.521 16.5451 34.4109 14.9401 33.0309 13.0201C31.6659 11.0851 30.5259 9.49508 30.5109 9.48008C30.4959 9.46508 29.3258 11.0701 27.9158 13.0351C26.5058 15.0151 25.3807 16.6351 25.4107 16.6351C25.4407 16.6351 26.5958 16.1251 27.9608 15.5101L30.4659 14.3851Z"
              fill="#171717"
              stroke="#171717"
              stroke-width="0.150002"
              stroke-miterlimit="10"></path>
          </svg>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-dark12 md:hidden"
        >
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row gap-6"
      >
        <a
          class={`nav-link text-dark-12 ${activePage === "researchers" ? "active" : ""}`}
          href="/researchers">Researchers</a
        >
        <a
          class={`nav-link text-dark-12 ${activePage === "journals" ? "active" : ""}`}
          href="/journals">Journals</a
        >
        <a
          class={`nav-link text-dark-12 ${activePage === "institutions" ? "active" : ""}`}
          href="/institutions">Insitutions</a
        >
        <a
          class="button-primary-black w-auto"
          href="https://nodes.desci.com"
          target="_blank"
          onclick="gtag_report_conversion()"
        >
          Enter App</a
        >
      </nav>
    </div>
  </div>
</section>
